<%= render "dashboard/analysis/controls" %>
<div class="row">
  <%= render "dashboard/analysis/ranking" %>
  <div class="col-12 col-xl-6 mb-4">
    <div class="row">
      <%= render "dashboard/analysis/ratings" %> <%= render "dashboard/analysis/installs" %> <%= render "dashboard/analysis/related" %>
    </div>
  </div>
</div>
<%= render "dashboard/analysis/tabular" %>
