<%= render "dashboard/overview/controls" %>
<div class="row justify-content-md-center">
  <%= render "dashboard/overview/sales" %> <%= render "dashboard/overview/customers" %> <%= render "dashboard/overview/revenue" %> <%= render "dashboard/overview/traffic" %> <%= render "dashboard/overview/orders" %> <%= render "dashboard/overview/source" %> <%= render "dashboard/overview/distribution" %>
</div>
<div class="row">
  <div class="col-12 col-xl-8 mb-4">
    <div class="row">
      <%= render "dashboard/overview/visits" %> <%= render "dashboard/overview/team" %> <%= render "dashboard/overview/hosting" %> <%= render "dashboard/overview/events" %>
    </div>
  </div>
  <div class="col-12 col-xl-4 mb-4">
    <%= render "dashboard/overview/ranks" %> <%= render "dashboard/overview/acquisition" %>
  </div>
</div>
<div data-controller="youtube" data-youtube-code-value="Lo_1pyQ7xvc">
  <button data-action="youtube#play">Play</button>
  <button data-action="youtube#pause">Pause</button>
  <button data-action="youtube#stop">Stop</button>
  <br>
  <div data-youtube-target="frame"></div>
</div>
