<% 
status = ["Done", "In Progress", "Waiting"].sample 
color = {"Done" => "success", "In Progress" => "warning", "Waiting" => "purple"} 
%>
<div class="card hover-state border-bottom rounded-0 rounded-top py-3" data-controller="strikethrough">
  <div class="card-body d-sm-flex align-items-center flex-wrap flex-lg-nowrap py-0">
    <div class="col-1 text-left text-sm-center mb-2 mb-sm-0">
      <div class="form-check check-lg inbox-check me-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="mailCheck<%= index %>" <%= "checked" if status == "Done" %> data-strikethrough-target="checkbox">
        <label class="form-check-label" for="mailCheck<%= index %>"></label>
      </div>
    </div>
    <div class="col-11 col-lg-8 px-0 mb-4 mb-md-0">
      <div class="mb-2">
        <h3 class="h5" data-strikethrough-target="text">Meeting with <%= Faker::Job.title %> from <%= Faker::Company.name %></h3>
        <div class="d-block d-sm-flex">
          <div>
            <h4 class="h6 fw-normal text-gray mb-3 mb-sm-0"><span class="fas fa-clock me-2"></span><%= Faker::Time.backward.strftime("%l:%M %p") %></h4>
          </div>
          <div class="ms-sm-3"><span class="badge super-badge badge-lg bg-<%= color[status] %>"><%= status %></span></div>
        </div>
      </div>
      <div>
        <a href="./single-message.html" class="fw-bold text-dark">
          <span class="fw-normal text-gray" data-strikethrough-target="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar feugiat consequat. Duis lacus nibh, sagittis id varius vel, aliquet non augue. </span>
        </a>
      </div>
    </div>
    <div class="col-10 col-sm-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-inline-flex align-items-center ms-lg-auto text-right justify-content-end px-md-0">
      <div class="rating-star star-lg d-none d-lg-inline-block">
        <input type="checkbox" id="InboxStar<%= index %>" name="star" />
        <label class="rating-star-label" for="InboxStar<%= index %>">
          <span class="fas fa-star fa-lg"></span>
        </label>
      </div>
      <div class="btn-group ms-md-3">
        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon icon-sm">
            <span class="fas fa-ellipsis-h icon-dark"></span>
          </span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-end py-0">
          <a class="dropdown-item rounded-top" href="#"><span class="fas fa-edit"></span>Edit</a>
          <a class="dropdown-item text-warning" href="#"><span class="fas fa-star"></span>Important</a>
          <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt"></span>Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
