<div class="card shadow-sm px-3 py-2" data-drag>
  <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
    <h3 class="h5 mb-0"><%= Faker::Company.buzzword.titleize %></h3>
    <div>
      <div class="dropdown">
        <button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="far fa-edit"></span>
        </button>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0" aria-labelledby="dropdownMenuLink2">
          <a class="dropdown-item fw-normal rounded-top" href="#" data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit task</a>
          <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy Task</a>
          <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to favorites</a>
          <div role="separator" class="dropdown-divider my-0"></div>
          <a class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt"></span>Remove</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <% if rand(1..3) == 1 %> <img src="https://source.unsplash.com/500x262/?<%= ["technology", "women", "nature", "cats"].sample %>" class="card-img-top mb-2 mb-lg-3" alt="mockup"> <% end %>
    <p><%= Faker::Company.catch_phrase %></p>
    <% if rand(1..4) == 1 %> <% progress = rand(0..100) color = "danger" color = "warning" if progress > 33 color = "success" if progress > 65 %>
    <div class="d-flex align-items-center justify-content-between mb-1">
      <h5 class="h6 mb-0">Progress</h5>
      <div class="fw-bold small"><span><%= progress %>%</span></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-<%= color %>" role="progressbar" style="width: <%= progress %>%" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <% end %> <% users = [] rand(0..5).times do users << ["steve", "mike", "anne", "jill", "casey"].sample end users.uniq! %>
    <h5 class="fs-6 fw-normal mt-4"><%= pluralize(users.size, "Assignee") %></h5>
    <div class="avatar-group">
      <% users.each do | user | %> <%= render partial: "kanban/user", object: user %> <% end %>
    </div>
  </div>
</div>
