<%= render "controls" %>
<div class="row">
  <div class="col-12 col-xl-8">
    <%= render "general" %>
    <%= render "card_details" %>
    <%= render "notifications" %>
  </div>
  <div class="col-12 col-xl-4 mt-4 mt-xl-0">
    <div class="row">
      <%= render "user" %>
      <%= render "cover_photo" %>
      <%= render "upgrade" %>
    </div>
  </div>
</div>
