<%= render "controls" %>
<div class="row">
  <div class="col-12 col-lg-6">
    <%= render "subscription" %>
  </div>
  <div class="col-12 col-lg-6">
    <%= render "history" %>
  </div>
  <div class="col-12 col-lg-6">
    <%= render "timeline" %>
  </div>
  <div class="col-12 col-lg-6">
    <%= render "card" %>
  </div>
  <div class="col-12 col-lg-6">
    <%= render "faq" %>
  </div>
  <div class="col-12">
    <%= render "pricing" %>
  </div>
</div>
