<%= render "controls" %>
<%= render partial: "filter", locals: {filter: @filter} %>
<div class="card card-body shadow-sm table-wrapper table-responsive">
  <div class="d-flex mb-3">
    <select class="form-select fmxw-150" aria-label="Message select example">
      <option selected>Bulk Action</option>
      <option value="1">Send Email</option>
      <option value="2">Change Group</option>
      <option value="3">Delete User</option>
    </select>
    <button class="btn btn-sm px-3 btn-secondary ms-3">Apply</button>
  </div>
  <table class="table user-table table-hover align-items-center">
    <thead>
      <tr data-controller="sort">
        <th class="border-bottom">
          <div class="form-check dashboard-check">
            <input class="form-check-input" type="checkbox" value="" id="userCheck55" />
            <label class="form-check-label" for="userCheck55"> </label>
          </div>
        </th>
        <th class="border-bottom" data-filter="<%= @filter.id %>" data-order="name" data-direction="asc" data-reflex="click->Customers#sort">Name <span class="ms-2 fas fa-chevron-down"></span></th>
        <th class="border-bottom" data-filter="<%= @filter.id %>" data-order="company" data-direction="desc" data-reflex="click->Customers#sort">Company <span class="ms-2 fas fa-chevron-down d-none"></span></th>
        <th class="border-bottom" data-filter="<%= @filter.id %>" data-order="position" data-direction="desc" data-reflex="click->Customers#sort">Position <span class="ms-2 fas fa-chevron-down d-none"></span></th>
        <th class="border-bottom" data-filter="<%= @filter.id %>" data-order="state" data-direction="desc" data-reflex="click->Customers#sort">Status <span class="ms-2 fas fa-chevron-down d-none"></span></th>
        <th class="border-bottom">Action</th>
      </tr>
    </thead>
    <tbody id="customers">
      <%= render @customers %>
    </tbody>
  </table>
  <%= render partial: "paginator", locals: {pagy: @pagy, filter: @filter} %>
</div>
