<section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
  <div class="container">
    <div class="row justify-content-center form-bg-image" data-controller="background" data-background-breakpoint-value="992" data-background-image-value="<%= asset_pack_path "media/images/plant-shelf.svg" %>" >
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h3">Log in to your account</h1>
          </div>
          <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name), method: :post, class: "mt-4", data: {controller: "devise"}) do |f| %>
            <div class="form-group mb-4">
              <%= f.label :email, "Your Email" %>
              <div class="input-group">
                <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "example@company.com", autofocus: true, required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group mb-4">
                <%= f.label :password, "Your Password" %>
                <div class="input-group">
                  <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                  <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-top mb-4">
                <% if devise_mapping.rememberable? %>
                <div class="form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %> <%= f.label :remember_me, "Remember me", class: "form-check-label mb-0" %>
                </div>
                <% end %> <% if devise_mapping.recoverable? %>
                <div>
                  <%= link_to "Lost password?", new_password_path(resource_name), class: "small text-end" %>
                </div>
                <% end %>
              </div>
              <div class="d-none justify-content-between align-items-top mb-4" data-devise-target="errors">
                <div class="input-group text-danger" data-devise-target="message"></div>
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          <% end %>
          <div class="my-4 text-center">
            <span class="fw-normal">or, pretend to be:</span>
          </div>
          <div class="d-flex justify-content-center my-4 ps-3">
            <% %w(steve jill anne mike casey).each do |user| %>
              <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name), method: :post, class: "d-flex flex-column align-items-center") do |f| %>
                <%= f.hidden_field :email, value: "#{user}@test.com", id: "user_email_#{user}" %>
                <%= f.hidden_field :password, value: "topsecret", id: "user_password_#{user}" %>
                <button type="submit" class="btn btn-icon-only btn-pill me-3 mb-1">
                  <img class="btn btn-icon-only btn-pill btn-outline-gray-400" src="<%= asset_pack_path("media/images/team/#{user}.jpg") %>" />
                </button>
                <span class="me-3"><%= user.capitalize %></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="fw-normal">
              You can also <%= link_to "create an account", new_registration_path(resource_name), class: "fw-bold" %>.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
