<% 
active = Faker::Subscription.status 
color = {"Active" => "success", "Idle" => "info", "Pending" => "warning", "Blocked" => "danger"} 
date = Faker::Date.between(from: 4.months.ago, to: 2.months.ago) 
%>
<tr>
  <td>
    <a href="/pages/invoice" class="fw-bold">
      <%= Faker::Number.number(digits: 6) %>
    </a>
  </td>
  <td>
    <span class="fw-normal"><%= Faker::Subscription.plan %> Subscription Plan</span>
  </td>
  <td><span class="fw-normal"><%= date %></span></td>
  <td><span class="fw-normal"><%= date + 1.month %></span></td>
  <td><span class="fw-bold">$<%= Faker::Commerce.price(range: 200..800, as_string: true) %></span></td>
  <td><span class="fw-bold text-<%= color[active] %>"><%= active %></span></td>
  <td>
    <div class="btn-group">
      <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon icon-sm">
          <span class="fas fa-ellipsis-h icon-dark"></span>
        </span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu py-0">
        <a class="dropdown-item rounded-top" href="/pages/invoice"><span class="fas fa-eye me-2"></span>View Details</a>
        <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
        <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
      </div>
    </div>
  </td>
</tr>
