<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar data-controller="sidebar">
  <div class="sidebar-inner px-4 pt-3">
    <% if current_user %>
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="<%= user_image(current_user) %>" class="card-img-top rounded-circle border-white" alt="<%= current_user.name %>">
          </div>
          <div class="d-block">
            <h2 class="h6">Hi, <%= current_user.name %></h2>
            <%= link_to(destroy_user_session_path, method: 'delete', class: "btn btn-secondary text-dark btn-sm") do %>
              <span class="fas fa-sign-out-alt text-danger fa-fw me-2"></span>Logout
            <% end %>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-fw fa-times" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
        aria-label="Toggle navigation"></a>
        </div>
      </div>
    <% end %>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <a href="/" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="<%= asset_pack_path "media/images/progenitor.png" %>" class="rounded-circle" height="20" width="20" alt="Progenitor">
          </span>
          <span class="ms-1 mt-1 sidebar-text">Progenitor</span>
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-dashboard" aria-expanded="true">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-chart-pie"></span></span>
            <span class="sidebar-text">Dashboard</span>
          </span>
          <span class="link-arrow"><span class="fas fa-fw fa-chevron-right"></span></span>
        </span>
        <div class="multi-level collapse show" role="list" id="submenu-dashboard" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item active">
              <a href="/dashboard/overview" class="nav-link">
                <span class="sidebar-text-contracted">O</span>
                <span class="sidebar-text">Overview</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/traffic" class="nav-link">
                <span class="sidebar-text-contracted">T</span>
                <span class="sidebar-text">Traffic & Engagement</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/analysis" class="nav-link">
                <span class="sidebar-text-contracted">P</span>
                <span class="sidebar-text">Product Analysis</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link d-flex align-items-center justify-content-between">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-th"></span></span>
            <span class="sidebar-text">Kanban</span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link d-flex align-items-center justify-content-between">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-inbox"></span></span>
            <span class="sidebar-text">Messages</span>
          </span>
          <span class="badge badge-md bg-danger badge-pill notification-count">4</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-user-check"></span></span>
          <span class="sidebar-text">Users List</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-hand-holding-usd"></span></span>
          <span class="sidebar-text">Transactions</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-clipboard-list"></span></span>
          <span class="sidebar-text">Task List</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-cog"></span></span>
          <span class="sidebar-text">Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-calendar-alt"></span></span>
          <span class="sidebar-text">Calendar</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-map-marked-alt"></span></span>
          <span class="sidebar-text">Map</span>
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-app">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-table"></span></span>
            <span class="sidebar-text">Tables</span>
          </span>
          <span class="link-arrow"><span class="fas fa-fw fa-chevron-right"></span></span>
        </span>
        <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">D</span>
                <span class="sidebar-text">DataTables</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">B</span>
                <span class="sidebar-text">Bootstrap Tables</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-pages">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-file-alt"></span></span>
            <span class="sidebar-text">Page examples</span>
          </span>
          <span class="link-arrow"><span class="fas fa-fw fa-chevron-right"></span></span>
        </span>
        <div class="multi-level collapse " role="list" id="submenu-pages" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">P</span>
                <span class="sidebar-text">Pricing</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">B</span>
                <span class="sidebar-text">Billing</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">I</span>
                <span class="sidebar-text">Invoice</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">S</span>
                <span class="sidebar-text">Sign In</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">S</span>
                <span class="sidebar-text">Sign Up</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">F</span>
                <span class="sidebar-text">Forgot password</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">R</span>
                <span class="sidebar-text">Reset password</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">L</span>
                <span class="sidebar-text">Lock</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">4</span>
                <span class="sidebar-text">404 Not Found</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">5</span>
                <span class="sidebar-text">500 Not Found</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-components">
          <span>
            <span class="sidebar-icon"><span class="fas fa-fw fa-box-open"></span></span>
            <span class="sidebar-text">Components</span>
          </span>
          <span class="link-arrow"><span class="fas fa-fw fa-chevron-right"></span></span>
        </span>
        <div class="multi-level collapse" role="list" id="submenu-components" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="#">
                <span class="sidebar-text-contracted">A</span>
                <span class="sidebar-text">All Components</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">B</span>
                <span class="sidebar-text">Buttons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">N</span>
                <span class="sidebar-text">Notifications</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">F</span>
                <span class="sidebar-text">Forms</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">M</span>
                <span class="sidebar-text">Modals</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text-contracted">T</span>
                <span class="sidebar-text">Typography</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-fw fa-th-large"></span></span>
          <span class="sidebar-text">Widgets</span>
        </a>
      </li>
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
      <li class="nav-item">
        <a href="#" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="<%= asset_pack_path "media/images/gt.svg" %>" height="20" width="20" alt="leastbad">
          </span>
          <span class="mt-1 sidebar-text">leastbad</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" target="_blank" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon"><span class="fas fa-fw fa-book"></span></span>
          <span class="sidebar-text">Documentation <span class="badge badge-md bg-secondary ms-1 text-dark">v1.2</span></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" target="_blank" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon"><span class="fas fa-fw fa-shopping-cart"></span></span>
          <span class="sidebar-text">Buy now</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" target="_blank" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="<%= asset_pack_path "media/images/gt.svg" %>" height="20" width="20" alt="leastbad">
          </span>
          <span class="sidebar-text">leastbad</span>
        </a>
      </li>
      <% if @qr %>
      <li role="separator" class="dropdown-divider mt-2 mb-2 border-black"></li>
      <li class="mt-3 bg-white p-2 align-self-center" style="width: 214px;">
        <%= @qr.html_safe %>
      </li>
      <li class="mt-2 text-center">
        <%= link_to Ngrok::Tunnel.ngrok_url, Ngrok::Tunnel.ngrok_url %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
