<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar data-controller="sidebar" data-reflex-permanent>
  <div class="sidebar-inner px-4 pt-3">
    <% if current_user %>
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img
              src="<%= user_image(current_user) %>"
              class="card-img-top rounded-circle border-white"
              alt="<%= current_user.name %>"
            />
          </div>
          <div class="d-block">
            <h2 class="h6">Hi, <%= current_user.name %></h2>
            <%= link_to(destroy_user_session_path, method: 'delete', class: "btn btn-secondary text-dark btn-sm") do %>
              <span class="fas fa-sign-out-alt text-danger fa-fw me-2"></span>Logout
            <% end %>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a
            href="#sidebarMenu"
            class="fas fa-fw fa-times"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="true"
            aria-label="Toggle navigation"
          ></a>
        </div>
      </div>
    <% end %>
    <ul class="nav flex-column pt-3 pt-md-0">
      <%= @sidenav %>
      <% if @qr %>
        <li role="separator" class="dropdown-divider my-3 border-black"></li>
        <li class="mt-3 bg-white p-2 align-self-center sidebar-text" style="width: 214px;">
          <%= @qr %>
        </li>
        <li class="mt-2 text-center sidebar-text">
          <% if Rails.env.development? %>
            <%= link_to Ngrok::Tunnel.ngrok_url, Ngrok::Tunnel.ngrok_url %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>