<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body data-controller="radiolabels" data-unlock-audio>
    <%= render partial: "layouts/nav" if user_signed_in? %>
    <%= render partial: "layouts/sidenav" if user_signed_in? %>
    <main class="<%= "content" if user_signed_in? %>">
      <%= render partial: "layouts/masquerade" if user_signed_in? && user_masquerade? %>
      <%= render partial: "layouts/topbar" if user_signed_in? %>
      <%= yield %>
      <%= render partial: "modals/masquerade" if user_signed_in? %>
      <%= render partial: "layouts/footer" %>
    </main>
  </body>
</html>
