<!DOCTYPE html>
<html>
  <head>
    <title>Progenitor</title>

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="monetization" content="$ilp.uphold.com/m9HGyyF2arwP">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/293f8b86ea.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: "layouts/nav" if user_signed_in? %>
    <%= render partial: "layouts/sidenav" if user_signed_in? %>
    <main class="<%= "content" if user_signed_in? %>">
      <%= render partial: "layouts/topbar" if user_signed_in? %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </main>
  </body>
</html>
